/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.banner {
  max-width: 1920px;
  margin: 0 auto;
  background: url("../assets/banner-cover.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 19.25rem 0;
}
.banner .banner-info {
  width: 304px;
  margin: 0 auto;
}
.banner .banner-info .banner-icon-list {
  margin-top: 2.5rem;
  display: flex;
}
.banner .prefix-text,
.banner .author-name,
.banner .slogan-text {
  color: white;
  font-family: "Roboto", sans-serif;
}

.about-page {
  background: #fff;
  max-width: 412px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-page .about-list {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.about-page .about-list .portrait-img {
  padding: 0 0.875rem;
}
.about-page .list-red-circle {
  height: 22px;
  width: 22px;
  background-color: #891818;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
}
.about-page .career-list {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.f-italic {
  font-style: italic;
}

.brand-page {
  background: #000;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0;
}
.brand-page .brand-desc {
  max-width: 320px !important;
  text-align: center;
}
.brand-page .brand-list {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  font-family: "Roboto", sans-serif;
}
.brand-page .brand-img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 68px;
  margin-bottom: 8.25rem !important;
}

.other-work-page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0;
  font-family: "Roboto", sans-serif;
}
.other-work-page .product-list {
  margin-bottom: 144px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.other-work-page .product-list .img-text {
  text-align: center;
}

.contact-page {
  max-width: 1920px;
  background: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.lh36px {
  line-height: 36px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-64 {
  font-size: 64px;
}

.fs-80 {
  font-size: 80px;
}

.mr-1rem {
  margin-right: 1rem;
}

.mr-1_5rem {
  margin-right: 1.5rem;
}

.mb-3_5rem {
  margin-bottom: 3.5rem;
}

.mt-0_5rem {
  margin-top: 0.5rem !important;
}

.mt-0_75rem {
  margin-top: 0.75rem !important;
}

.mt-1rem {
  margin-top: 1rem !important;
}

.mt-1_25rem {
  margin-top: 1.25rem !important;
}

.mt-1_5rem {
  margin-top: 1.5rem !important;
}

.mt-1_75rem {
  margin-top: 1.75rem !important;
}

.mt-2rem {
  margin-top: 2rem !important;
}

.mt-2_5rem {
  margin-top: 2.5rem !important;
}

.mt-3rem {
  margin-top: 3rem !important;
}

.mt-3_5rem {
  margin-top: 3.5rem !important;
}

/*# sourceMappingURL=style.css.map */
